<header>
  <%= link_to logo, root_path %>
  <nav class="round">
    <ul>
      <li><%= link_to "Home", root_path %></li>
			
			<% if signed_in? %>
				<li><%= link_to "Profile", current_user %></li>
			<% end %>
			
      <li><%= link_to "Help", help_path %></li>
			
			<% if signed_in? %>
        <li><%= link_to "Sign out", signout_path, :method => :delete %></li>
			<% else %>
				<li><%= link_to "Sign in", signin_path %></li>
			<% end %>
			
    </ul>
  </nav>

	<script type="text/javascript">
	var mpq = [];
	mpq.push(["init", "34a556f59f1bb0035ccdf5086a439f76"]);
	(function() {
	var mp = document.createElement("script"); mp.type = "text/javascript"; mp.async = true;
	mp.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + "//api.mixpanel.com/site_media/js/api/mixpanel.js";
	var s = document.getElementsByTagName("script")[0]; s.parentNode.insertBefore(mp, s);
	})();
	</script>

</header>
